<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda yazı girişi
</button>

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="narratModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_head">Hakkımızda Metin Girişi</h4>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label class="modal_note">Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="myInput form-control form-control-sm" />
                    <br />
                    <label class="modal_note">Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="myInput form-control form-control-sm" />
                    <br />
                    <label class="modal_note">Hakkımda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="myInput form-control form-control-sm" />
                    <br />
                    <label class="modal_note">Hakkımda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="myInput form-control form-control-sm" />
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>

        </div>
    </div>
</div>